<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png" type="image/png">    
    <link rel="stylesheet" href="zorba/style.css">

    <title>Zorbombala!</title>
</head>
<body>
    <div class="container">
        <div id="kufur-display">Hadi Zorbalan!</div>
        <button onclick="getKufur()">Zorbalan</button>
    </div>
    <script src="zorba/scripts.js"></script>
</body>
</html>

